.App {
  text-align: center;
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container {
  /* background-color: orange; */
  width: 340px;
  margin: 32px;
  
}

.movie-poster {
  width: 340px;
  height: 500px;
  object-fit: cover;
}

.movie-name {
  font-size: 24px;
  margin: 0;
}

.movie-summary {
  margin-top: 0;
}

.movie-rating {
  font-size: 18px;
}

.movie-list
{
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.count
{
  display: flex;
  border-style:hidden;
  margin-bottom: 0;
  align-items: flex-end;
  gap: 10px;


}

.btn
{
  display: flex;
  
}

.Add
{
  display: flex;
  flex-direction: column ;
  gap: 10px;
  align-items: stretch;
  margin:30px ;
  
  
  
}

.movie-detail-container
{
  width: 900px;
  margin: 20px;
}

.not-found
{
  width: 1000px;
  height: 1000px;
  object-fit: cover;
}

.btn-back
{
  display: flex;
  flex-direction: column;
  -ms-flex-align: start;
}

.btn-mode
{
  display: flex;
align-items: flex-end;
justify-content: flex-end;

}
